.card {
    background-color: rgb(231, 228, 235);
    padding: 25px;
    width: 100%;
}




.card__category{
    
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    text-transform: uppercase;
}



.card__name {
    font-size: 20px;
    margin: 0;
    line-height: 27px;
    color: #515076;
}

.card__discription {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card__discription p:first-child {
    margin-top: 0;
}

.card__discription p {
    margin-bottom: 15px;
} 

.card__compoud {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.card__price {
    color: #515076;
}

b {
    color: #515076;;
}

.span {
    color: #515076;;
}

