.catalog__container {
  background-image: url(../images/bg\ 1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 1px;

  
}

.catalog__title {
  margin-bottom: 110px;
  margin-top: 220px;
  
}
